@{
    ViewBag.Title = "Библиотека";
}

<div>
    <h3><p align="center"><b>Библиотека</b></h3>
    

    <table>
        <tr>
            <td><p>Название</p></td>
            <td><p><blockquote>Автор</blockquote></p></td>
            <td><p>Жанр</p></td>
            <td></td>
        </tr>
        
        <tr>
            <td><p>@Html.TextBox("bookId")</p></td>
            <td><p><blockquote>@Html.TextBox("AuthorTB")</blockquote></p></td>
            <td><p>@Html.TextBox("GenreTB")</p></td>
            <td><p><input type="submit" value="Фильтр" class="btn btn-default" /></p></td>
        </tr>
        
        @foreach (var books in ViewBag.Books)
         {
            <tr>
                <td><p>@books.BookId</p></td>
                <td><p><blockquote> @books.Author</blockquote></p></td>
                <td><p> @books.Genre</p></td>
                <td><p>@Html.ActionLink("Зарезервировать", "Reserve", "Home")</p></td>
            </tr>
         }

    </table>
</div>